div{
    display: block;
    height: 100px;
    width: 100px;
    background-color: green;
    transition: width 1s ease-in-out;
}
#one:hover{
    
    
    width: 500px;
    transition: rotate(180deg);
}
#two:hover{
    
   
    width: 500px;
    transition: rotate(180deg)
}
#three:hover{
    
    
    width: 500px;
    transition: rotate(180deg)
}
#four:hover{
    
    
    width: 500px;
    transition: rotate(180deg)
}
#five:hover{
    
    
    width: 500px;
    transition: rotate(180deg)
}
